html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(to top right, #71AE51 1%, #F3BA4B 25%, #E6873B 40%, #CF4845 68%, #8B4593 80%, #449CD7 100%);
}

body {
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 40px;
  letter-spacing: 1.1px;
  margin-bottom: 2px;
}

#root {
  max-width: 800px;
  margin: auto;
}

.App {
  text-align: center;
}

*:focus {
  outline: none;
}

.btnCounter {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin: 3px;
  cursor: pointer;
  text-align: center;
}

.DateLine {
  display: flex;
  align-items: center;
}

.navMenu {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 40px 0 15px;
}


.active {
  border-bottom: 2px solid white;
}

table {
  width: 450px;
  text-align: right;
  padding-top: 30px;
  margin: 0 auto;
}

