.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.InputLine {
    display: flex;
    flex-direction: row;
    line-hight: 1.5;
}
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 0 0 0 5px;
    color: white;
    width: 100%;
    padding: 0;
}

.LineTitle {
    width: 150px;
}

.LineInpute {
    width: 130px;
    margin: 0;
}

.BtnEx {
    color: white;
    border: 1px solid white;
    border-radius: 31px;
    background-color: transparent;
    margin: 3px;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
}